.game-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.game-buttons {
  margin-top: 10px;
  height: 60px;
  width: 120px;
  border: none;
  border-radius: 20px;
  background-color: rgb(0, 53, 168);
  font-size: 20px;
  color: rgba(255, 255, 255, 1);
  text-align: center;
}

.start-game-button {
  margin-right: 5px;
}

.stop-game-button {
  margin-left: 5px;
}

.reset-game-button {
  margin-left: 5px;
  margin-right: 5px;
}
